version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: joineazy
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: .
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/joineazy
      JWT_SECRET: secret_key
      PORT: 4000
    ports:
      - "4000:4000"
    depends_on:
      - db
volumes:
  db-data:
